$white: #fff;
$black: #212121;
$primary: #6200ee;
$primary-dark: #3700b3;
$font-color: #616161;
$font-color-dark: #000;

$theme: (
  "success": #018786,
  "error": #b00020,
  "warning": #ffde03,
  "info": #e5e5e5
);
