 <h2>Todo</h2>
 <search></search>
 <count></count>
 <list></list>

    <!-- <div>
        <input type="text" placeholder="filter tasks" #filter (keyup)="onKey(filter.value)">
    <br>
    <span>0 remaining </span>
 
    <ul class="unstyled">
      <li *ngFor="let todo of searchResults || todos; let i = index">
        <input type="checkbox" (change)="changeStatus(todo)" [checked]="checkStatus(todo)">
        <span class="{{changeStyle(todo)}}">{{todo.text}}</span>
        [<a href="#" (click)="remove(todo)">remove</a>]
      </li>
    </ul>
    
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <input type="text" name="item" ngModel>
      <input class="btn-primary" type="submit" value="add">
    </form>

    <a href="#" (click)="removeRemining()">clean</a> 
  </div> -->
